.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}
.nav__contents {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
