.app {
  width: 100%;
  height: 100%;
  display: flex;
  // filter: blur(1em);
  justify-content: center;
  position: relative;
}
.app__container {
  width: 100%;
  max-width: 75em;
}
@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
